allow diag media_rw_data_file:dir { add_name create getattr ioctl link open read remove_name rename reparent rmdir search setattr unlink write };
allow diag media_rw_data_file:file { append create getattr ioctl link lock open read rename setattr unlink write };
