allow init init:packet_socket { append bind connect create getattr getopt ioctl read setattr setopt shutdown write };
allow init vfat:file { getattr ioctl lock open read };
allow init app_data_file:chr_file { relabelto append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init app_data_file:dir { getattr relabelfrom relabelto add_name append audit_access create execmod execute ioctl link lock mounton open quotaon read remove_name rename reparent rmdir search setattr swapon unlink write };
allow init app_data_file:fifo_file { relabelto append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init app_data_file:file { relabelto append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init app_data_file:lnk_file { getattr relabelfrom relabelto append audit_access create execmod execute ioctl link lock mounton open quotaon read rename setattr swapon unlink write };
allow init app_data_file:sock_file { relabelto append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init bluetooth:process { noatsecure sigkill rlimitinh siginh transition };
allow init fuse:dir { getattr mounton search add_name create ioctl link open read remove_name rename reparent rmdir setattr unlink write };
allow init fuse:file { getattr append create ioctl link lock open read rename setattr unlink write };
allow init kernel:system { ipc_info module_request syslog_mod syslog_read };
allow init shell_data_file:chr_file { relabelto append audit_access create getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init shell_data_file:dir { create getattr open read relabelto search setattr add_name append audit_access execmod execute ioctl link lock mounton quotaon relabelfrom remove_name rename reparent rmdir swapon unlink write };
allow init shell_data_file:fifo_file { relabelto append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init shell_data_file:file { getattr relabelto append audit_access create ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init shell_data_file:lnk_file { relabelto append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init shell_data_file:sock_file { relabelto append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom rename setattr swapon unlink write };
allow init vfat:dir { getattr ioctl open read search };
