# 4k2k property
allow mediaserver camera_prop:property_service set;

# check sound card status
allow mediaserver audiod:binder call;

allow mediaserver audio_data_file:sock_file { create setattr unlink };
allow mediaserver bootanim:fd { use };
allow mediaserver default_prop:property_service { set };
allow mediaserver platform_app:dir { search };
allow mediaserver shell_exec:file { execute };
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver time_daemon:unix_stream_socket { connectto };
allow mediaserver audio_data_file:dir { add_name getattr ioctl open read search write remove_name };
allow mediaserver system_data_file:file { getattr read ioctl lock open };
