allow recovery healthd:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir search setattr swapon unlink write };
allow recovery healthd:file { append audit_access create execmod execute_no_trans getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery healthd:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery init:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir search setattr swapon unlink write };
allow recovery init:file { append audit_access create execmod execute_no_trans getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery init:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery kernel:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir search setattr swapon unlink write };
allow recovery kernel:file { append audit_access create execmod execute_no_trans getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery kernel:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery media_rw_data_file:dir { getattr ioctl open read search };
allow recovery media_rw_data_file:file { getattr ioctl lock open read };
allow recovery proc_sysrq:file { open write };
allow recovery recovery:capability { sys_boot };
allow recovery system_data_file:fifo_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery system_data_file:sock_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery ueventd:dir { add_name append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir search setattr swapon unlink write };
allow recovery ueventd:file { append audit_access create execmod execute_no_trans getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery ueventd:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery unlabeled:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery vfat:file { append audit_access create execmod execute_no_trans getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery vfat:lnk_file { append audit_access create execmod execute getattr ioctl link lock mounton open quotaon read relabelfrom relabelto rename setattr swapon unlink write };
allow recovery apk_data_file:dir { getattr search add_name append audit_access create execmod execute ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir setattr swapon unlink write };
allow recovery apk_data_file:file { getattr ioctl lock open read append audit_access create execmod execute_no_trans link mounton quotaon relabelfrom relabelto rename setattr swapon unlink write };
allow recovery apk_data_file:lnk_file { getattr ioctl lock open read append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr swapon unlink write };
allow recovery system_data_file:dir { getattr search add_name append audit_access create execmod execute ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir setattr swapon unlink write };
allow recovery system_data_file:file { getattr read append audit_access create execmod execute_no_trans ioctl link lock mounton open quotaon relabelfrom relabelto rename setattr swapon unlink write };
allow recovery system_data_file:lnk_file { getattr ioctl lock open read append audit_access create execmod execute link mounton quotaon relabelfrom relabelto rename setattr swapon unlink write };
allow recovery vfat:dir { getattr add_name append audit_access create execmod execute ioctl link lock mounton open quotaon read relabelfrom relabelto remove_name rename reparent rmdir search setattr swapon unlink write };
