allow thermal-engine sysfs:file { getattr ioctl lock open read write append };
allow thermal-engine thermal-engine:capability { dac_override dac_read_search fsetid sys_boot };
