allow untrusted_app untrusted_app:process { execmem fork getattr getcap getpgid getsched getsession ptrace setcap setpgid setrlimit setsched sigchld sigkill signal signull sigstop execheap };
allow untrusted_app vfat:dir { getattr ioctl open read search add_name create link remove_name rename reparent rmdir setattr unlink write };
allow untrusted_app vfat:file { getattr ioctl lock open read append create link rename setattr unlink write };
